{% extends "template.html" %}

{% block content %}
    <!-- Contenido de la página -->
    <div class="container mt-4">
        <h1>Last offers!</h1>
        <ul>
            <li>
                <h3>Product 1</h3>
                <p>Description: </p>
                <p>Price: </p>
                <p>Category: </p>
                <p>Rating:  | Count: </p>
            </li>
            <li>
                <h3>Product 2</h3>
                <p>Description: </p>
                <p>Price: </p>
                <p>Category: </p>
                <p>Rating:  | Count: </p>
            </li>
            <li>
                <h3>Product 3</h3>
                <p>Description: </p>
                <p>Price: </p>
                <p>Category: </p>
                <p>Rating:  | Count: </p>
            </li>
        </ul>
    </div>
{% endblock %}



